
html{
    background-color:#a31621;
   

}

body{
    margin: 0;
    padding: 0;
 
}
.div1{
   background-color: #053c5e;
   
   border-radius: 15px;
   margin: 0 auto;
   display: table;
   width: 100%;



 
}

.div2{
    display: flex;
   flex-direction: column;
   align-items: center;
   background-color: #bfdbf7;
   width: 600px;
   height: 600px;
   border-radius:15px;
   margin-left: 10%;
   
}


.fotoperfil{
    height: 200px;
    width: 200px;
   
   

 
}
.imagennav{ 
    margin-left: 25px;
    height: 125px;
    width: 125px;
   


}

.perfil{
    background-color: #bfdbf7;




}


.div3{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
   

}
nav{
    float: right;
}

nav ul li{
    list-style: none;
    margin: 15px 15px;
    float: left;
    padding: 20px 15px;
    justify-content: space-around;

}
